body {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.landing {
  background-image: url("../images/pexels-rodolfo-clix-1596888.jpg");
  background-position: center;
  text-align: center;
  height: auto;
  background-size: cover;
  padding: 12%;
}
#gif {
  padding-top: 140px;
  margin-top: 10%;

  height: 10%;
  width: 10%;
}
#gif {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.order {
  background-image: url("../images/background2.png");
  background-position: center;
  text-align: center;
  height: auto;
  background-size: cover;
  padding: 7%;
}
